$charcoal: #264653ff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$white: #ffffff;
$persian-green: #2a9d8fff;
$maize-crayola: #e9c46aff;
$black: #000000;

.white {
    background-color: $white;
}
.gold {
    background-color: $sandy-brown;
}
.green {
    background-color: $persian-green;
}
